<div class="row">
    <div class="col-lg-12">
      <!-- ==================================-->
      <!-- ========== Basic Alert ========== -->
      <!-- ==================================-->
      <div class="card w-100">
        <div class="p-3 page-title">
          <div class="title-section">
            <i class="bi bi-person title-icon"></i>&nbsp;
            <h4 class="card-title mb-0">Users</h4>
            <div class="col-md-12 offset-md-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter username, national id or email"
                />
                <button class="btn search-button" type="button">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="actions-container">
            <button
              class="btn page-table-button"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Sort clients"
            >
              <i class="bi bi-sort-alpha-down page-table-icon"></i>
            </button>
            <button class="btn btn-success btn new-button">
              <i class="bi bi-plus"></i>&nbsp;Add User
            </button>
          </div>
        </div>
        <div class="card-body border-top table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mark</th>
                <th scope="col">Username</th>
                <th scope="col">National ID</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                </td>
                <th scope="row">Andre</th>
                <td>-</td>
                <td>778275503</td>
                <td>Driver</td>
                <td>
                  <span class="active-status-wrapper">Active</span>
                </td>
                <td class="row-action">
                  <button class="btn page-table-button">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
